:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  --webkit-text-size-adjust: 100%;
  --trouble-color:rgb(255, 0, 0);
  --trouble-background-color:rgb(0, 0, 0);
  --warning-color:rgb(0, 0, 0);
  --warning-background-color:rgba(226, 224, 81, 0.795);
  --Yes-color:rgb(255, 255, 255);
  --Yes-background-color:rgb(87, 151, 85);
  --text-color:black;
} 
pre{
  max-width:400px;
  white-space:pre-wrap;
}
.capitalize{
  text-transform: capitalize;
}
body{
    display:grid;
    justify-content: center;
    align-content: start;
    padding:5em;
    color:var(--text-color);
    background-color:rgb(255, 255, 255);
    font-family:var(--font-family);
}
a{
  text-decoration: underline;
  color:black;
}
.Verbiage b{
  font-weight:normal;
  text-shadow: 1px 1px 1px #a5a5a5;
}
form.DOTTED{
  display:grid;
  min-width:fit-content;
  justify-self: start;
  justify-content: start;
  gap:.5em;
  padding:2em 0em;
  margin:2em 0em;
  background-color:var(--form-background-color);
  border-radius:var(--block-radius);
}
form.DOTTED label{
  position:relative;
  overflow:hidden;
  display:grid;
  justify-self: start;
  min-width:500px;
  grid-template-columns:1fr auto;
}
form.DOTTED label :after{
  z-index: -1;
  position:absolute;
  top:0em;
  overflow:hidden;
  padding-left:0em;
  padding-right:1em;
  content:" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}
.Verbiage{
  min-width:300px;
  max-width:600px;
}

