:root {
  --top-avoid-menu:2.5em;
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  --webkit-text-size-adjust: 100%;
  --trouble-color:rgb(255, 0, 0);
  --trouble-background-color:rgb(0, 0, 0);
  --warning-color:rgb(0, 0, 0);
  --warning-background-color:rgba(226, 224, 81, 0.795);
  --Yes-color:rgb(255, 255, 255);
  --Yes-background-color:rgb(87, 151, 85);
  --text-color:black;
  --standard-width:500px;
  --input-radius:.2em;
} 
.sticky{position:sticky; top:var(--top-avoid-menu);}
.flex{display:flex;}
.grid{display:grid;}
.grid-auto-flow-row{display:grid;grid-auto-flow:row;}
.grid-auto-flow-column{display:grid;grid-auto-flow:column;}
.align-items-start{align-items:start;}
.align-items-center{align-items:center;}
.align-items-end{align-items:end;}
.align-content-start{align-content:start;}
.align-content-center{align-content:center;}
.align-content-end{align-content:end;}
.justify-self-start{justify-self:start;}
.justify-self-center{ justify-self:center; }
.justify-items-start{ justify-items:start; }
.justify-items-center{ justify-items:center; }
.justify-content-start{ justify-content:start; }
.justify-content-center{ justify-content:center; }
.text-align-start{text-align:left;}
.text-align-center{text-align:center;}
.text-align-end{text-align:right;}
.capitalize{ text-transform: capitalize; }
.underline{ text-transform: underline; }
.uppercase{ text-transform: uppercase; }
.lowercase{ text-transform: lowercase; }
pre, .pre-wrap{
  max-width:400px;
  white-space:pre-wrap;
}
body{
    display:grid;
    justify-content: center;
    align-content: start;
    padding:2em;
    color:var(--text-color);
    background-color:rgb(255, 255, 255);
    font-family:var(--font-family);
}
a{
  text-decoration: underline;
  color:black;
}
.Verbiage b{
  font-weight:normal;
  text-shadow: 1px 1px 1px #a5a5a5;
}
.Menu{
  z-index:1000;
}
nav{
  display:flex;
  z-index:900;
  justify-content: center;
  gap:2em;
}
.message-block{
  padding:.5em;
  margin:2em;
  color:white;
  text-shadow: 1px 1px 1px #cccccc;
  background-color:rgb(53, 53, 53)  
}
.standard-block{
  width:var(--standard-width);
}
.DOTTED{
  display:grid;
  min-width:fit-content;
  justify-self: start;
  justify-content: start;
  gap:.5em;
  padding:2em 0em;
  margin:2em 0em;
  background-color:var(--form-background-color);
  border-radius:var(--block-radius);
}
.DOTTED label,.DOTTED .label{
  position:relative;
  overflow:hidden;
  display:grid;
  justify-self: start;
  min-width:var(--standard-width);
  grid-template-columns:1fr auto;
}
.DOTTED label span:after,.DOTTED .label span:after{
  z-index: -1;
  position:absolute;
  top:0em;
  overflow:hidden;
  padding-left:0em;
  padding-right:1em;
  content:" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}
input + .msg, input + button  + .msg{
  max-height:0px;
  overflow:hidden;
  transition:all .3s ease;
}
input:invalid + .msg, input:invalid + button  + .msg{
  overflow:auto;
  max-height:4em;
}
input:invalid, input:invalid + .msg, input:invalid + button  + .msg{
  background-color:rgb(255, 214, 214);
  border:1px solid red;
}
form button{
  font-size:1.5em;
}
form .button-block{
  margin:1em;
  gap:2em;
}
.grid .button-block, .flex .button-block{
  justify-self:center;
}
:not(.grid) .button-block, :not(.flex) .button-block{
  text-align:center
}

